<?xml version="1.0"?>
<config>
    <modules>
        <Genmato_ProductProfit>
            <version>14.314.1</version>
        </Genmato_ProductProfit>
    </modules>
    <global>
        <blocks>
            <genmato_productprofit>
                <class>Genmato_ProductProfit_Block</class>
            </genmato_productprofit>
        </blocks>

        <helpers>
            <genmato_productprofit>
                <class>Genmato_ProductProfit_Helper</class>
            </genmato_productprofit>
        </helpers>

        <models>
            <genmato_productprofit>
                <class>Genmato_ProductProfit_Model</class>
            </genmato_productprofit>
        </models>

        <resources>
            <genmato_productprofit_setup>
                <setup>
                    <module>Genmato_ProductProfit</module>
                    <class>Genmato_ProductProfit_Model_Resource_Setup</class>
                </setup>
            </genmato_productprofit_setup>
        </resources>

    </global>

    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <genmato_productprofit_product_grid_add>
                        <type>singleton</type>
                        <class>genmato_productprofit/observer</class>
                        <method>beforeBlockToHtml</method>
                    </genmato_productprofit_product_grid_add>
                </observers>
            </core_block_abstract_to_html_before>

            <eav_collection_abstract_load_before>
                <observers>
                    <genmato_productprofit_product_collection_load_before>
                        <class>genmato_productprofit/observer</class>
                        <method>beforeCollectionLoad</method>
                    </genmato_productprofit_product_collection_load_before>
                </observers>
            </eav_collection_abstract_load_before>

            <catalog_product_collection_load_after>
                <observers>
                    <genmato_productprofit_product_collection_load_after>
                        <class>genmato_productprofit/observer</class>
                        <method>onProductCollectionLoadAfter</method>
                    </genmato_productprofit_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
        </events>
    </adminhtml>
</config>